<div class="carousel">
  {% for block in section.blocks %}
    <div class="slide">
      {% if block.settings.media_type == 'video' %}
        <video autoplay muted loop playsinline>
          <source src="{{ block.settings.mobile_video.url }}" media="(max-width:600px)" type="video/mp4" />
          <source src="{{ block.settings.desktop_video.url }}" media="(min-width:601px)" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      {% elsif block.settings.media_type == 'image' %}
        {% render 'responsive-picture',
          forloop: forloop,
          desktopImage: block.settings.image_desktop,
          mobileImage: block.settings.image_mobile,
          altimage: block.settings.alt_text,
          img_class: 'tw-w-full tw-max-h-[60rem]'
        %}
      {% endif %}
      {% if block.settings.text != blank %}
        <div class="overlay-text">{{ block.settings.text }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>


{% schema %}
    {
        "name": "Homepage Carousel",
        "max_blocks": 5,
        "settings": [],
        "blocks": [
            {
                "type": "slide",
                "name": "Slide",
                "settings": [
                    {
                        "type": "select",
                        "id": "media_type",
                        "label": "Media type",
                        "options": [
                            { "value": "image", "label": "Image" },
                            { "value": "video", "label": "Video" }
                        ],
                        "default": "image"
                    },
                    {
                    "type": "image_picker",
                    "id": "image_desktop",
                    "label": "Desktop Slide Image"
                    },
                    {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": "mobile Slider Image"
                    },
                    {
                    "type": "text",
                    "id": "alt_text",
                    "label": "Image Alt Text"
                    },
                    {
                    "type": "text",
                    "id": "text",
                    "label": "Overlay Text"
                    },

                    // Only show if media_type = video
                    {
                        "type": "video",
                        "id": "desktop_video",
                        "label": "Desktop video"
                    },
                    {
                        "type": "video",
                        "id": "mobile_video",
                        "label": "Mobile video"
                    }
                ]
            }
        ],
        "presets": [
            {
            "name": "Homepage Carousel"
            }
        ]
    }

{% endschema %} 