<header class="site-header" role="banner">
  <div class="header-wrapper">
    <div class="site-logo">
      <a href="{{ shop.url }}">
        <img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" width="120" height="40" />
      </a>
    </div>

    <nav role="navigation">
      <ul class="main-menu">
        <li><a href="/collections/kanchipuram">Kanchipuram</a></li>
        <li><a href="/collections/weave">Weave</a></li>
        <li><a href="/collections/whats-new">Whats New</a></li>
      </ul>
    </nav>
    
    <div class="header-icons">
      <!-- Add cart, search icons etc. -->
    </div>
  </div>
</header>
